Source: grml-debugtools
Section: grml
Priority: optional
Maintainer: Michael Gebetsroither <gebi@grml.org>
Uploaders: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 4.0.0), libglib2.0-dev, libboost-dev | libboost1.35-dev, libstdc++6-dev | libstdc++-dev, xsltproc, docbook-xsl, asciidoc, libgebi-dev (>= 0.10)
Standards-Version: 3.7.3
Homepage: http://git.grml.org/?p=grml-debugtools.git
Vcs-git: git://git.grml.org/grml-debugtools.git
Vcs-Browser: http://git.grml.org/?p=grml-debugtools.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-debugtools
Architecture: any
Depends: ${shlibs:Depends}, grml-shlib (>= 1.02.07), zsh, curl, grml-etc (>= 0.7-3), python, python-apt (>=0.7.3.1)
Description: Various debug related tools
 This tools help in tracking down problems:
 .
  * sh-wrapper, a wrapper for /bin/sh which logs information
                about caller to syslog
  * event-viewer, a program to see all fork/exec/exit/uid/gid events
  * bench, a simple benchmarking utility
  * grml-kerneltest, tool to test the kernel
  * upgrade-bloatscanner, a program to scan for bloat at upgrade
